In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import colors
import math
from scipy.stats import norm
import matplotlib.mlab as mlab
import matplotlib.patches as mpatches
from scipy.optimize import curve_fit
from sklearn.metrics import confusion_matrix, f1_score
from sklearn import metrics
import urllib
from sklearn.naive_bayes import BernoulliNB,GaussianNB, MultinomialNB
from sklearn.metrics import accuracy_score

In [3]:
from sklearn.datasets import load_breast_cancer
cancer = load_breast_cancer()
data = pd.DataFrame(data=cancer.data, columns=cancer.feature_names) # data from library

In [4]:
diagnosis = pd.Series(cancer.target, name= "diagnosis")

In [6]:
dataset = pd.concat([data.iloc[:,0:4], diagnosis], axis=1)

In [5]:
labels = diagnosis.unique()
labels

array([0, 1])

In [7]:
dataset.head(20)

    mean radius  mean texture  mean perimeter  mean area  diagnosis
0         17.99         10.38          122.80     1001.0          0
1         20.57         17.77          132.90     1326.0          0
2         19.69         21.25          130.00     1203.0          0
3         11.42         20.38           77.58      386.1          0
4         20.29         14.34          135.10     1297.0          0
5         12.45         15.70           82.57      477.1          0
6         18.25         19.98          119.60     1040.0          0
7         13.71         20.83           90.20      577.9          0
8         13.00         21.82           87.50      519.8          0
9         12.46         24.04           83.97      475.9          0
10        16.02         23.24          102.70      797.8          0
11        15.78         17.89          103.60      781.0          0
12        19.17         24.80          132.40     1123.0          0
13        15.85         23.95          103.70      782.7          0
14        13.73         22.61           93.60      578.3          0
15        14.54         27.54           96.73      658.8          0
16        14.68         20.13           94.74      684.5          0
17        16.13         20.68          108.10      798.8          0
18        19.81         22.15          130.00     1260.0          0
19        13.54         14.36           87.46      566.3          1